[defaults]
inventory              = inventory/aws_ec2.yml
remote_tmp             = /tmp/.ansible/tmp
remote_user            = ubuntu
private_key_file       = ~/.ssh/storage-lab.pem
stdout_callback        = ansible.builtin.default
result_format          = yaml
forks                  = 5
roles_path             = roles
inject_facts_as_vars   = False
interpreter_python     = auto_silent

[ssh_connection]
ssh_args   = -o StrictHostKeyChecking=no -o ConnectTimeout=15
pipelining = True
