global
    log /dev/log local0
    maxconn 4096
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# K8s API server (6443)
frontend k8s_api
    bind *:{{ haproxy_k8s_api_port }}
    default_backend k8s_masters

backend k8s_masters
    balance roundrobin
    option  tcp-check
{% for host in groups['master'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ haproxy_k8s_api_port }} check
{% endfor %}

# Stats page
frontend stats
    bind *:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
